.center-content {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    height: 100vh; /* 设置容器的高度为视口的高度，以便内容可以垂直居中 */
}

h3 {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    height: 100vh; /* 设置容器的高度为视口的高度，以便内容可以垂直居中 */
}
